/*.contained {*/
/*    @apply mx-auto max-w-7xl px-8 sm:px-10 md:px-12;*/
/*}*/

/*.contained-images {*/
/*    @apply mx-auto max-w-7xl px-0 sm:px-10 md:px-12;*/
/*}*/

.photographer-bio a {
    @apply underline;
}

.photographer-bio > p:last-child {
    padding-bottom: 0;
}

article > .sep:last-of-type {
    display: none;
}

.default-width {
    @apply mx-auto max-w-7xl;
}

.default-padding-x {
    @apply px-8 sm:px-10 md:px-12;
}

.default-margin-b {
    @apply mb-8 lg:mb-10 xl:mb-12;
}

#primary-menu > ul > li > a {
    @apply block py-2 leading-none text-gray-500;
}

.wp-block-image figcaption {
    margin: 0 !important;
}

/**
 * LIGHTBOX OVERRIDES
 */
.fslightbox-container {
    background: #fff !important;
}

.fslightbox-slide-btn {
    background: transparent !important;
}

.fslightbox-svg-path {
    fill: #94a3b8 !important;
}

.fslightbox-slide-number-container {
    color: #94a3b8 !important;
}

.fslightbox-toolbar {
    background: transparent !important;
}

.fslightbox-slash {
    background: #94a3b8 !important;
}

.fslightbox-source {
    max-width: 1024px !important;
    max-height: 1024px !important;
    object-fit: contain;
    filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
}

img.lqip {
    filter: blur(20px);
    transform: scale(0.95); /* slight zoom to hide edges */
    transition: filter 0.6s ease, transform 0.6s ease;
}

img.lqip.loaded {
    filter: blur(0);
    transform: scale(1);
}
